@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: lightblue;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #505e79;
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(218, 25%, 20%);
  border-radius: 33px;
}

:root {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: "Inter var", sans-serif;
    }
}

.btn-primary {
    @apply btn bg-btn-primary border-none font-bold mb-2 text-btn-mutations-text hover:bg-btn-primary-hover;
}
